/*------------------------
	icons
-------------------------*/
@icon-search_left: "\ea03";
@icon-love-stroke: "\ea04";
@icon-love-fill: "\ea05";
@icon-Greek: "\ea06";
@icon-Indian: "\ea07";
@icon-Japanese: "\ea08";
@icon-Kenyan: "\ea09";
@icon-Jamaican: "\ea0a";
@icon-Mexican: "\ea0b";
@icon-Moroccan: "\ea0c";
@icon-Polish: "\ea0d";
@icon-Russian: "\ea0e";
@icon-Spanish: "\ea0f";
@icon-Thai: "\ea10";
@icon-Tunisian: "\ea11";
@icon-Turkish: "\ea12";
@icon-Unknown: "\ea13";
@icon-Vietnamese: "\ea14";
@icon-American: "\ea15";
@icon-British: "\ea16";
@icon-Canadian: "\ea17";
@icon-Chinese: "\ea18";
@icon-Dutch: "\ea19";
@icon-Egyptian: "\ea1a";
@icon-French: "\ea1b";
@icon-Italian: "\ea1c";
@icon-Malaysian: "\ea1d";
@icon-Irish: "\ea1e";

.icon-search_left::before {
  content: @icon-search_left;
}

.icon-love-stroke::before {
  content: @icon-love-stroke;
}

.icon-love-fill::before {
  content: @icon-love-fill;
}

.icon-Greek::before {
  content: @icon-Greek;
}

.icon-Indian::before {
  content: @icon-Indian;
}

.icon-Japanese::before {
  content: @icon-Japanese;
}

.icon-Kenyan::before {
  content: @icon-Kenyan;
}

.icon-Jamaican::before {
  content: @icon-Jamaican;
}

.icon-Mexican::before {
  content: @icon-Mexican;
}

.icon-Moroccan::before {
  content: @icon-Moroccan;
}

.icon-Polish::before {
  content: @icon-Polish;
}

.icon-Russian::before {
  content: @icon-Russian;
}

.icon-Spanish::before {
  content: @icon-Spanish;
}

.icon-Thai::before {
  content: @icon-Thai;
}

.icon-Tunisian::before {
  content: @icon-Tunisian;
}

.icon-Turkish::before {
  content: @icon-Turkish;
}

.icon-Unknown::before {
  content: @icon-Unknown;
}

.icon-Vietnamese::before {
  content: @icon-Vietnamese;
}

.icon-American::before {
  content: @icon-American;
}

.icon-British::before {
  content: @icon-British;
}

.icon-Canadian::before {
  content: @icon-Canadian;
}

.icon-Chinese::before {
  content: @icon-Chinese;
}

.icon-Dutch::before {
  content: @icon-Dutch;
}

.icon-Egyptian::before {
  content: @icon-Egyptian;
}

.icon-French::before {
  content: @icon-French;
}

.icon-Italian::before {
  content: @icon-Italian;
}

.icon-Malaysian::before {
  content: @icon-Malaysian;
}

.icon-Irish::before {
  content: @icon-Irish;
}

