@font-face {
  font-family: 'libre_baskervillebold';
  src: url("../fonts/libre/librebaskerville-bold-webfont.woff2") format("woff2"), url("../fonts/libre/librebaskerville-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'libre_baskervilleitalic';
  src: url("../fonts/libre/librebaskerville-italic-webfont.woff2") format("woff2"), url("../fonts/libre/librebaskerville-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'libre_baskervilleregular';
  src: url("../fonts/libre/librebaskerville-regular-webfont.woff2") format("woff2"), url("../fonts/libre/librebaskerville-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url("../fonts/helveticas/HelveticaNeueThin.woff2") format("woff2"), url("../fonts/helveticas/HelveticaNeueThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url("../fonts/helveticas/HelveticaNeueLight.woff2") format("woff2"), url("../fonts/helveticas/HelveticaNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url("../fonts/helveticas/HelveticaNeueMedium.woff2") format("woff2"), url("../fonts/helveticas/HelveticaNeueMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("../fonts/helveticas/HelveticaNeueBold.woff2") format("woff2"), url("../fonts/helveticas/HelveticaNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueBlackCond';
  src: url("../fonts/helveticas/HelveticaNeueBlackCond.woff2") format("woff2"), url("../fonts/helveticas/HelveticaNeueBlackCond.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueRegular';
  src: url("../fonts/helveticas/HelveticaNeueRegular.woff2") format("woff2"), url("../fonts/helveticas/HelveticaNeueRegular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueHeavy';
  src: url("../fonts/helveticas/HelveticaNeueHeavy.woff2") format("woff2"), url("../fonts/helveticas/HelveticaNeueHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueItalic';
  src: url("../fonts/helveticas/HelveticaNeueItalic.woff2") format("woff2"), url("../fonts/helveticas/HelveticaNeueItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --gold: #FFC60B;
}

body {
  font-family: 'HelveticaNeueMedium';
  line-height: 1.5;
}
/*# sourceMappingURL=style.css.map */