.title-category {
	font-weight: 600 !important;
}

.banner {
	padding: 2.5em 0;
}

.food-banner {
	padding: 3.5em 0;
}

.food-card {
	box-shadow: 0px 10px 10px 0px rgba(184, 184, 184, 0.068);
}

.translate {
	transform: translate(-70%,-30%)!important;
}
