// Libre
@font-face {
    font-family: 'libre_baskervillebold';
    src: url('../fonts/libre/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('../fonts/libre/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('../fonts/libre/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('../fonts/libre/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('../fonts/libre/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('../fonts/libre/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');