.title {
	font-family: 'Berkshire Swash', cursive;
	// letter-spacing: 3px;
	color: var(--black);
}

header {
	
	.btn-success {
		background-color: var(--green);
		border-color: var(--green);
	}

	.btn-lg {
		height: 45px;
		width: 45px;
	}

	.form-control-lg {
		height: 45px;
	}
}