header {
	.title {
		font-family: "libre_baskervillebold";
		letter-spacing: 3px;
		color: var(--gold);
	}
	
	.btn-success {
		background-color: var(--green);
		border-color: var(--green);
	}

	.btn-lg {
		height: 40px;
		width: 40px;
	}

	.form-control-lg {
		height: 40px;
	}
}