header {
	.title {
		font-family: 'Vollkorn', serif !important;
		letter-spacing: 3px;
		color: var(--gold);
	}
	
	.btn-success {
		background-color: var(--green);
		border-color: var(--green);
	}

	.btn-lg {
		height: 45px;
		width: 45px;
	}

	.form-control-lg {
		height: 45px;
	}
}