@import "./fonts";

:root {
	--gold: #FFC60B;
	--red: #DC5353;
	--purple: #a72461;
	--gray: #ececec;
	--green: #00af92;
	--black: #160f30;
}

body {
	font-family: 'Poppins', sans-serif !important;
}

input, button {
	border-radius: 0px !important;
}

.bg-danger {
	background-color: var(--red) !important;
}

.bg-success {
	background-color: var(--green) !important;
}

.bg-purple {
	background-color: var(--purple) !important;
}

.text-success {
	color: var(--green) !important;
}

.text-dark {
	color: var(--black) !important;
}

.text-danger {
	color: var(--red) !important;
}

@import "./header";
@import "./category";