@import "./fonts";

:root {
	--gold: #FFC60B;
	--red: #DC5353;
	--purple: #a72461;
	--gray: #ececec;
	--green: #00af91;
}

body {
	font-family: 'Work Sans', sans-serif;
}

input, button {
	border-radius: 0px !important;
}

.icon {
	font-size: 1em !important;
}

@import "./header";